.ut-tabs {
	position: relative;	
}

.ut-tabs .ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}

.ut-tabs .ui-tabs-nav {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 5px;
    padding-right: 5px;
    background: #FAFAFA;
    color: #23282D;
    line-height: 40px;
    border-bottom: 1px solid #E5E5E5;
}

.ut-tabs .ui-tabs-nav .ui-tabs-anchor {
	color: #23282D;
    text-decoration:none;
    padding: 0.5em 1em;
    outline: none;
    box-shadow: none;
}

.ut-tabs .ui-widget-header li { 
    display: inline-block;
    list-style: none;
    margin: 0px;
}

.ut-tabs .ui-widget-header li.ui-state-active a {
    font-weight: bold;
}

.ut-tabs .ui-tabs-panel {
	display: block;
}

p.notification {
   border: 1px solid #77BE32;
   background: #FAFAFA;
   padding: 5px;
   font-size: 10px;
   text-align: center; 
}

.ut-backend-button {
    margin-top:5px;
}