.widget-content .image-preview-wrap img {
    max-width: 100%;
    margin: 20px auto 0;
}

div#setting-error-business-insights {
    width: 100%;
    max-width: 870px;
    clear: both;
}
/*Customizer CSS*/
.customize-control-checkbox input[type=checkbox] {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 40px;
    height: 14px;
    border-radius: 8px;
    background: #ccc;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: background 350ms ease;
}

.customize-control-checkbox input[type=checkbox]:before,
.customize-control-checkbox input[type=checkbox]:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -3px;
    transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98), background 150ms ease;
}

.customize-control-checkbox input[type=checkbox]:before {
    background: rgba(0, 0, 0, 0.2);
    transform: translate3d(0, -50%, 0) scale(0);
}

.customize-control-checkbox input[type=checkbox]:after {
    background: #999;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: translate3d(0, -50%, 0);
}

.customize-control-checkbox input[type=checkbox]:checked:before {
    background: rgba(52, 152, 222, 0.075);
    font-size: 0;
    line-height: 1px;
    transform: translate3d(100%, -50%, 0) scale(1);
}

.customize-control-checkbox input[type=checkbox]:checked:after {
    background: #3498DE;
    transform: translate3d(100%, -50%, 0);
}

.customize-control-radio-image input {
    vertical-align: top;
    margin-top: 13px;
    margin-right: 5px;
    display: none;
}

.customize-control-radio-image input:checked + span img {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid #3498DB;
}

.customize-control-radio-image img {
    width: 80px;
    height: inherit;
}

body #customize-controls .control-section-upsell .accordion-section-title {
    background: #4CAF50 !important;
    font-size: 12px;
    color: #fff !important;
    margin: 0;
    padding: 20px;
}

body #customize-controls .control-section-upsell .accordion-section-title:hover,
body #customize-controls .control-section-upsell .accordion-section-title:focus {
    background-color: #fff;
}

body .control-section-upsell .accordion-section-title .button {
    margin-top: -4px;
    font-weight: 700;
    margin-left: 8px;
    border-color: #3F51B5;
    background-color: #3F51B5;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    color: #fff;
}

body .control-section-upsell .accordion-section-title .button:hover {
    background-color: #673AB7;
}

body #accordion-section-theme_upsell {
    display: block !important;
}