@import url("../brooklyn/style.css");
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700');
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	margin-top: 0px !important;
	font-family: 'Helvetica', sans-serif;
	color: #333;
}
body {
	overflow-x: hidden;
}
*,  *:before,  *:after {
	box-sizing: border-box;
}
h1 {
	font-family: 'Poppins', sans-serif !important;
	font-size: 4.5rem;
	letter-spacing: 3px;
	margin: 0;
}
h2 {
	font-family: 'Poppins', sans-serif !important;
	font-weight: 700;
	font-size: 3em;
	line-height: 1.5em;
	margin: 0;
}
h3 {
	font-family: 'Poppins', sans-serif !important;
	font-weight: 700;
	font-size: 1.5em !important;
	margin: 0;
}
h4 {
	font-family: 'Poppins', sans-serif !important;
	font-weight: 700;
	font-size: 1.25em;
	line-height: 3em;
	margin: 0;
}
p {
	font-family: 'Helvetica', sans-serif !important;
	font-size: 18px !important;
	line-height: 28px !important;
}
 @media screen and (max-width: 1024px) {
h1 {
	font-size: 3.3em !important;
}
h2 {
	font-size: 2em !important;
}
h3 {
	font-size: 1.7em !important;
}
p {
	font-size: 14px;
	line-height: 24px !important;
}
ul, li {
	font-size: 1em !important;
}
}
.lite {
	color: #FFF;
}
p.small {
	font-size: 11px !important;
	line-height: 16px !important;
}
.mk-link {
	text-decoration: none;
}
ul, li {
	font-family: 'Helvetica', sans-serif !important;
	font-size: 18px;
	padding: 0;
}
li{margin: 10px 0;}
/********************************************************Nav***********************************************************/

.header-container {
	max-width: 1600px !important;
}
.btn-header-wrapper {
	height: 45px;
	position: absolute;
	top: 20px;
}
.btn-header {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	line-height: 10px;
	border-radius: 10px;
	cursor: pointer;
	padding-top: 15px;
	padding-bottom: 15px;
}
.btn-header-pay {
	background-color: #ba2acb;
	color: #FFF !important;
}
.btn-header-login {
	background-color: #1de901;
	color: #000;
}

.btn-header-pay:hover, .btn-header-login:hover {
	background-color: #cecece;
	color: #000;
}

 @media all and (min-width: 1200px) {
.btn-header-wrapper {
	display: inline-block;
	width: 330px;
	right: 3%;
}
.btn-header {
	display: block;
	width: 140px;
	float: right;
}
.btn-header-pay {
	margin-right: 10px;
}
.btn-header-login {
	margin-left: 0px;
}
}
 @media all and (min-width: 1024px) and (max-width: 1200px) {
.btn-header-wrapper {
	display: inline-block;
	width: 200px;
	right: 0;
}
.btn-header {
	display: block;
	width: 85px;
	float: right;
}
.btn-header-pay {
	margin-right: 10px;
}
.btn-header-login {
	margin-left: 20px;
}
}
 @media all and (min-width: 0px) and (max-width: 1024px) {
.btn-header-wrapper {
	display: none;
	width: 0px;
	right: 0;
}
.btn-header {
	display: none;
	width: 0px;
	float: none;
}
}

@media (max-width: 1024px){
.ut-header-light .ut-mm-button:before {
    color: #ba2acb !important;
}
}
/********************************************************Slider***********************************************************/

.frontpage-slider-wrapper {
	display: block;
}
.frontpage-hero-mobile {
	display: none;
}
.slider-txt-mobile {
	display: none;
}
 @media all and (max-width: 768px) {
.frontpage-slider-wrapper {
	display: none;
}
.frontpage-hero-mobile {
	display: block;
	width: 100%;
	height: 300px;
	background: url(images/slider-1.jpg) center center no-repeat;
	background-size: cover;
	position: relative;
	float: left;
	text-align: center;
}
.slider-txt-mobile {
	display: block;
}
}
h1.slider {
	font-family: 'Poppins', sans-serif !important;
	font-weight: 200 !important;
	letter-spacing: 3px !important;
	margin: 0 !important;
	color: #FFF !important;
}
h2.slider {
	font-family: 'Poppins', sans-serif !important;
	font-weight: 600 !important;
	letter-spacing: 3px !important;
	color: #1de901 !important;
}
p.slider {
	display: block;
	height: auto;
	color: #FFF;
	padding-top: 10px !important;
}
@media all and (min-width: 1260px) {
h1.slider {
	font-size: 3.5vw !important;
}
h2.slider {
	font-size: 2.5vw !important;
	margin-top: 0px;
}
p.slider {
	display: block;
	font-size: 1vw !important;
	width: 40%;
}
.btn-slider {
	padding: 25px 40px 25px 40px !important;
}
}
@media all and (min-width: 1024px) and (max-width: 1260px) {
h1.slider {
	font-size: 4vw !important;
}
h2.slider {
	font-size: 3vw !important;
	margin-top: 0px;
}
p.slider {
	display: block;
	font-size: 1.5vw !important;
	width: 80%;
}
.btn-slider {
	padding: 25px 40px 25px 40px !important;
}
}
@media all and (min-width: 768px) and (max-width: 1024px) {
h1.slider {
	font-size: 4vw !important;
}
h2.slider {
	font-size: 3vw !important;
	margin-top: 65px;
}
p.slider {
	display: none;
}
.btn-slider {
	padding: 15px 30px 15px 30px !important;
}
}
 @media all and (min-width: 0px) and (max-width: 768px) {
h1.slider {
	font-size: 4vw !important;
}
h2.slider {
	font-size: 10vw !important;
	color: #FFF !important;
	margin-top: 65px;
}
p.slider {
	display: none;
}
.btn-slider {
	padding: 15px 30px 15px 30px !important;
}
}
.btn-slider {
	display: block;
	font-family: 'Poppins', sans-serif;
	font-size: 14px !important;
	font-weight: 400;
	position: relative;
	top: 25px;
	left: 0px;
	background-color: #1de901;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	line-height: 0px;
}
.btn-slider:hover {
	background-color: #ba2acb;
	color: #FFF;
}
/********************************************************Content***********************************************************/
#main-content {
    position: absolute;
    left: 0;
    right: 0;
    overflow: auto;
    margin: 0;
}

.content-wrapper-12 {
	width: 90%;
	max-width: 1800px;
	margin: auto;
}
.content-wrapper-16 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	width: 90%;
	max-width: 1800px;
	margin: auto;
}
h1.content-title {
	font-family: 'Poppins', sans-serif !important;
	letter-spacing: 3px !important;
	margin: 0 !important;
	color: #FFF !important;
	font-weight: 200;
}
.content-txt {
	display: block;
	width: 65%;
	height: auto;
	margin: 0px auto;
	text-align: left;
	padding-top: 2em;
}
 @media all and (max-width: 768px) {
.content-txt {
	width: 100%;
}
}
.content-title-center {
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
}
/*******************************************************Preface First********************************************************/

h1.preface-title {
	font-family: 'Poppins', sans-serif !important;
	font-weight: 700 !important;
	letter-spacing: 3px !important;
	margin: 0 !important;
	color: #000 !important;
}
.preface-title {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	float: left;
	text-transform: uppercase;
	text-align: center;
	margin-top: 30px;
	padding-bottom: 35px;
}
.preface-first {
	display: block;
	float: left;
	background: url(images/preface-bg-1.png) 0 0 repeat;
	background-color: #145e81;
	margin-top: -10px;
	padding-top: 5em;
	padding-bottom: 7.5em;
}
/*******************************************************Preface Second********************************************************/

.preface-second-bg {
	background: url(images/preface-second-bg.jpg) 0 0 repeat;
	background-size: 100%;
	padding-top: 2em;
	padding-bottom: 10em;
}
.preface-second-block {
	padding: 10px !important;
	background-color: #FFF;
}
 @media all and (min-width: 1024px) {
.preface-second-block {
	width: 15%;
	margin-top: 0px;
	margin-left: 1.5%;
}
}
 @media all and (min-width: 768px) and (max-width: 1024px) {
.preface-second-block {
	width: 25%;
	margin-top: 30px;
	margin-left: 6%;
}
}
 @media all and (min-width: 0px) and (max-width: 768px) {
.preface-second-block {
	width: 50%;
	margin-top: 30px;
	margin-left: 25%;
}
}
.prf-2-link-bg {
	display: inline-block;
	width: 300px;
	height: 300px;
	background-color: #386d9e;
	border-radius: 50%;
}
.prf-2-wrapper {
	width: 100%;
	height: 180px;
	overflow: hidden;
	position: relative;
	float: left;
	cursor: pointer;
}
.prf-2-img {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.prf-bg-one {
	background-image: url(images/preface-second-img-1-sq.png);
}
.prf-bg-two {
	background-image: url(images/preface-second-img-2-sq.png);
}
.prf-bg-three {
	background-image: url(images/preface-second-img-3-sq.png);
}
.prf-bg-four {
	background-image: url(images/preface-second-img-4-sq.png);
}
.prf-bg-five {
	background-image: url(images/preface-second-img-5-sq.png);
}
.prf-bg-six {
	background-image: url(images/preface-second-img-6-sq.png);
}
a.prf-2 {
	display: none;
	font-size: 18px;
	line-height: 22px;
	color: #ffffff !important;
	font-family: 'Helvetica', sans-serif !important;
	font-weight: bold !important;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 110px;
	left: 0;
	bottom: 0;
	right: 0;
	height: auto;
	cursor: pointer;
	text-decoration: none;
}
.prf-2-wrapper:hover .prf-2-img, .prf-2-wrapper:focus .prf-2-img {
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.prf-2-wrapper:hover .prf-2-img:before, .prf-2-wrapper:focus .prf-2-img:before {
	display: block;
}
.prf-2-wrapper:hover a, .prf-2-wrapper:focus a {
	display: block;
}
.prf-2-img:before {
	content: "";
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: none;
}
.prf-2-block-txt a {
	display: block;
	font-family: 'Helvetica', sans-serif !important;
	font-weight: bold !important;
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	color: #000;
	padding-top: 20px;
}
.prf-2-block-txt a:hover {
	color: #5ef136;
}
/*************************************************Content First******************************************************/

.content-first-wrapper {
	width: 100%;
	height: auto;
	padding-top: 100px;
	padding-bottom: 200px;
	background: url(images/content-first-bg.jpg) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.content-first-block {
	width: 60%;
	padding: 5px;
	text-align: center;
	margin: auto;
	padding: 0;
}
.cf-block-top {
	width: 100%;
	height: 240px;
	margin-top: 80px;
}
.cf-block-bottom a {
	width: 100%;
	height: 180px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
}
.cf-block-bottom a:hover {
	color: #1de901;
}
.cf-block-bg-1 {
	background: url(images/icon-court-reporters.png) center center no-repeat;
	background-size: contain;
}
.cf-block-bg-2 {
	background: url(images/icon-videographers.png) center center no-repeat;
	background-size: contain;
}
.cf-block-bg-3 {
	background: url(images/icon-interpreters.png) center center no-repeat;
	background-size: contain;
}
.cf-block-bg-4 {
	background: url(images/icon-video-conference.png) center center no-repeat;
	background-size: contain;
}
.cf-block-bg-5 {
	background: url(images/icon-new-reporter.png) center center no-repeat;
	background-size: contain;
}
/******************************************************************************************************************************/
/****PAGES****/
/******************************************************************************************************************************/

.page-header {
	display: block;
	width: 100%;
	height: 520px;
	float: left;
	margin-bottom: 0px !important;
}
.page-header-court-reporters {
	background: url(images/page-header-court-reporters.jpg) center center no-repeat;
	background-size: cover;
}
.page-header-records-retrieval {
	background: url(images/page-header-records-retrieval.jpg) center center no-repeat;
	background-size: cover;
}
.page-header-attorney-services {
	background: url(images/page-header-attorney-services.jpg) center center no-repeat;
	background-size: cover;
}
.page-header-other-services {
	background: url(images/page-header-other-services.jpg) center center no-repeat;
	background-size: cover;
}
.page-header-online-resources {
	background: url(images/page-header-online-resources.jpg) center center no-repeat;
	background-size: cover;
}
.page-header-court-resources {
	background: url(images/page-header-court-resources.jpg) center center no-repeat;
	background-size: cover;
}
.page-header-legal {
	background: url(images/page-header-legal.jpg) center center no-repeat;
	background-size: cover;
}
.page-category-wrapper {
	display: block;
	position: relative;
	height: auto;
	padding: 20px 0px 20px 0px;
	background-color: #1B81BE;
	border-radius: 10px;
	margin: 120px 0px 0px 5%;
	text-align: center;
}

@media all and (min-width: 1260px){
.page-category-wrapper {width: 30%;}
}

@media all and (min-width: 768px) and (max-width: 1260px) {
.page-category-wrapper {width: 60%;}
}

@media all and (min-width: 0px) and (max-width: 768px) {
.page-category-wrapper {width: 90%;}
}

h2.page-category {
	color: #FFF;
	font-weight: 200;
}
.page-title-block {
	display: block;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 9.5%;
	background-color: #333;
	text-align: left;
}
h1.page-title-mq {
	color: #FFF;
	font-size: 3.5em;
	font-weight: 200;
	text-transform: uppercase;
}
h3.page-sub-title {
	display: block;
	width: 100%;
	float: left;
	font-size: 1.25em;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.page-content-wrapper {
	padding-top: 4.5em;
	padding-bottom: 4.5em;
}
p.page-content {
	display: block;
	position: relative;
	float: left;
	margin: 25px 0px 25px 0px;
}
ul.page-content-list {
	display: block;
	width: 100%;
	color: #000;
	line-height: 32px;
	position: relative;
	float: left;
}
.page-list-col {
	display: inline-block;
	float: left;
	width: 45%;
	height: auto;
}
.page-content-body {
	display: inline-block;
	width: 80%;
	height: auto;
	position: relative;
	float: left;
	padding: 1em 4em;
}
.page-content-img {
	display: block;
	width: 100%;
	height: auto;
	float: left;
	margin-top: 30px;
	margin-bottom: 50px;
}
.page-list {
	padding-top: 30px;
}
/******************************************************************************************************************************/
/***************SIDEBAR**********************/
/******************************************************************************************************************************/

.page-sidebar-wrapper {
	text-align: center;
	border: 1px solid #CCC;
}
.page-sidebar {
	width: 100%;
	height: auto;
	text-align: center;
}
h4.page-sidebar-title {
	display: block;
	width: 100%;
	font-weight: 400;
	text-transform: uppercase;
	border-bottom: 1px solid #CCC;
	margin: 0;
	padding: 20px;
}
.sidebar-links {
	display: block;
	width: 100%;
	padding: 1em 0em 1em 0em;
	text-decoration: none;
	list-style: none;
	background-color: #FFF;
	color: #000;
	font-size: 16px;
	cursor: pointer;
}
.sidebar-links:hover {
	background-color: #ba2acb;
	color: #FFF;
}
.sidebar-links a {
	text-decoration: none;
}

/************************************************PROCESS SERVING*****************************************************/

.btn-process-serving {
	display:block;
	width:200px;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	line-height: 10px;
	border-radius: 10px;
	cursor: pointer;
	padding-top: 20px;
	padding-bottom: 20px;
}
.btn-process-serving-register {
	background-color: #ba2acb;
	color: #FFF !important;
}
.btn-process-serving-login {
	background-color: #1de901;
	color: #000;
}
.btn-process-serving-register:hover, .btn-process-serving-login:hover {
	background-color: #cecece;
	color: #000 !important;
}

/******************************************************************************************************************************/
/****FORMS****/
/******************************************************************************************************************************/

input {
	font-size: 16px !important;
}
span.wpcf7-list-item {
	display: table-row;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
}
span.wpcf7-list-item * {
	display: table-cell;
}
.form-row {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}
.form-label {
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: none !important;
}
.form-input-col-first {
	display: inline-block;
	width: 48%;
	position: relative;
	float: left;
}
.form-input-col-second {
	display: inline-block;
	width: 48%;
	position: relative;
	float: left;
	padding-left: 20px;
}
.form-input-col-third-1 {
	display: inline-block;
	width: 20%;
	position: relative;
	float: left;
}
.form-input-col-third-2 {
	display: inline-block;
	width: 40%;
	position: relative;
	float: left;
	padding-left: 20px;
}
.form-input-col-fourth-1 {
	display: inline-block;
	width: 32%;
	position: relative;
	float: left;
}
.form-input-col-fourth-2 {
	display: inline-block;
	width: 32%;
	position: relative;
	float: left;
	padding-left: 20px;
}
.form-input-year {
	display: inline-block;
	width: 30%;
}
.form-input-month {
	display: inline-block;
	width: 30%;
}
.form-input-day {
	display: inline-block;
	width: 15%;
}

.form-input-time {
	display: inline-block;
	width: 25%;
}

.form-input-city {
	display: inline-block;
	width: 40%;
}

.form-input-state {
	display: inline-block;
	width: 20%;
}

.form-input-zip {
	display: inline-block;
	width: 20%;
}

@media all and (max-width:768px) {
.form-input-col-first {width: 100%;}
.form-input-col-second {width: 100%; padding-left: 0px;}
.form-input-col-third-1 {width: 100%;}
.form-input-col-third-2 {width: 100%; padding-left: 0px;}
.form-input-col-fourth-1 {width: 100%;}
.form-input-col-fourth-2 {width: 100%; padding-left: 0px;}
.form-input-year {width: 100%;}
.form-input-month {width: 100%;}
.form-input-day {width: 100%;}
.form-input-time {width: 100%;}
.form-input-city {width: 100%;}
.form-input-state {width: 100%;}
.form-input-zip {width: 100%;}
}

/*********************************************************Footer*************************************************************/

ul.sidebar, .widget-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-block {
	color: #FFF;
	position: relative;
	font-family: 'Poppins', sans-serif;
}
.footer-block-item {
	padding-top: 20px;
}
/****First****/

.footer-logo {
	display: block;
	width: 100%;
	height: auto;
	float: left;
}
.footer-phone {
	display: block;
	float: left;
	width: 100%;
	height: auto;
	font-weight: 200;
	font-size: 24px;
}
.footer-email {
	display: block;
	float: left;
	width: 100%;
	height: auto;
	font-weight: 400;
	font-size: 18px;
}
.footer-copyright {
	display: block;
	float: left;
	width: 100%;
	height: auto;
	font-size: 12px;
}
.footer-link-block{
	display:block;
	float:left;
	margin-top:35px;
}
.footer-link ul, li{
	font-size: 14px;
	margin:0px 0;
}

/****Second****/

.footer-img {
	width: 310px !important;
	height: auto;
	/*position: relative;
	top: 15%;
	left: 0%;
	z-index: 0;*/
}

.footer-location {
	width: 310px;
	height: auto;
	position: relative;
	z-index: 1;
	text-align: center;
	color: #FFF;
	background-color: #4a5761;
	padding-top: 30px;
	padding-bottom: 30px;
	float:left;
}

/****************************Social Media************************************/

._12 {
	font-size: 1.8em;
}
._14 {
	font-size: 2em;
}
.footer-social-icons {
	width: 100%;
	display: block;
	float: left;
}
.social-icon {
	color: #fff;
}
ul.social-icons {
	margin-top: 0px !important;
	list-style: none;
	text-align: center;
}
 @media all and (max-width: 1024px) {
ul.social-icons {
	margin-top: 40px !important;
	list-style: none;
	text-align: center;
}
}
.social-icons li {
	vertical-align: top;
	display: inline;
	height: 100px;
}
.social-icons a {
	color: #fff;
	text-decoration: none;
}
.fa {
	font-size: 20px !important;
	color: #FFF !important;
}
.fa-facebook {
	padding: 10px 14px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	background-color: #6f818f;
}
.fa-facebook:hover {
	background-color: #1de901;
}
.fa-twitter {
	padding: 10px 12px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	background-color: #6f818f;
}
.fa-twitter:hover {
	background-color: #1de901;
}
.fa-linkedin {
	padding: 10px 14px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	background-color: #6f818f;
}
.fa-linkedin:hover {
	background-color: #1de901;
}
.fa-instagram {
	padding: 10px 14px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	background-color: #6f818f;
}
.fa-instagram:hover {
	background-color: #1de901;
}

.built-by-wrapper{
	display:block;
	width:100%;
	height:42px;
	position:relative;
	float:left;
	text-align:center;
}

.built-by-block{
	display:block;
	width:276px;
	height:42px;
	margin:0px auto;
}

.built-by-txt{
	display:block;
	width:auto;
	height:42px;
	position:relative;
	float:left;
	color:#FFF;
	font-size:13px;
	padding:16px;
}

.built-by-txt a{color:#FFF !important;}

.built-by-txt a:hover{color:#0F0 !important;}

.built-by-img{
	display:block;
	width:46px;
	height:auto;
	position:relative;
	float:left;
}
