/* CSS Document */


/* #Bklyn Visual Composer Customization
================================================== */

.vc_row {
    margin-left:-20px;
    margin-right:-20px;   
}
.vc_column_container > .vc_column-inner {
    padding-left:20px;
    padding-right:20px;   
}
.wpb_button, 
.wpb_content_element, 
ul.wpb_thumbnails-fluid > li,
.vc_icon_element {
    margin-bottom:40px;   
}
#contact-section .parallax-title, 
#contact-section .section-title {
    font-size:30px;    
}
.vc_col-has-fill > .vc_column-inner, 
.vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner, 
.vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner, 
.vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, 
.vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .vc_column_container > .vc_column-inner, 
.vc_row-has-fill > .vc_column_container > .vc_column-inner, 
.vc_row-has-fill > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, 
.vc_row-has-fill > .vc_vc_column_inner > .vc_column_container > .vc_column-inner {
    padding-top:40px;   
}
[class*="grid-"] > .wpb_content_element,
.entry-content > .wpb_content_element {
    margin-bottom:0;
}
@media (max-width: 767px) { 
.vc_row {
    padding-left:0 !important;
    padding-right:0 !important;   
}
.ut-site-border .vc_row-has-fill {
    border:none !important;
}
} 
@media (min-width: 768px) and (max-width: 1024px) {
.vc_row {
    padding-left:0 !important;
    padding-right:0 !important;   
}
.ut-site-border .vc_row-has-fill {
    border:none !important;
}
}

/* #Bklyn Visual Composer Customization Flex Slider Deprecated
================================================== */

#ut-sitebody .wpb_flexslider.flexslider {
    border:none;
    margin:0;
    -webkit-box-shadow:none;
        -moz-box-shadow:none;
            box-shadow:none;
    -webkit-border-radius:0;
        -moz-border-radius:0;
            border-radius:0;
}
#ut-sitebody .wpb_flexslider.flexslider .flex-direction-nav .flex-prev {
    left:0;
}
#ut-sitebody .wpb_flexslider.flexslider .flex-direction-nav .flex-next {
    right:0;   
}

#ut-sitebody .wpb_flexslider.flexslider .flex-direction-nav a::before {
    font-family:FontAwesome !important;
    content: "\f104";
    line-height:80px;
}
#ut-sitebody .wpb_flexslider.flexslider .flex-direction-nav a.flex-next::before {
    font-family:FontAwesome !important;
    content: "\f105";
    line-height:80px;
}
#ut-sitebody .wpb_flexslider.flexslider .flex-direction-nav a::before {
    font-size:40px;   
}
#ut-sitebody .wpb_flexslider.flexslider .flex-direction-nav a {
    color:#333333;
    height:80px;
    margin:-40px 0 0;
    line-height:80px;
    text-align:center;
    width:80px;
    opacity:1;
    text-shadow:none;
    -webkit-transition:none;
        -moz-transition:none;
            transition:none;   
}
#ut-sitebody .wpb_flexslider.flexslider .flex-control-nav {
    bottom:0;
    margin-top:0;
    top:inherit;
}
#ut-sitebody .wpb_flexslider.flexslider .flex-viewport {
    -webkit-transition:none;
        -moz-transition:none;
            transition:none !important;
}

/* #Bklyn Visual Composer Customization Nivo Slider Deprecated
================================================== */

#ut-sitebody .theme-default .nivoSlider {
    -webkit-box-shadow:none;
        -moz-box-shadow:none;
            box-shadow:none;   
}
#ut-sitebody .wpb_gallery_slides.wpb_slider_nivo.theme-default {
    position:relative;
    z-index:9;
}
#ut-sitebody .wpb_gallery .theme-default .nivo-controlNav {
    bottom:5px;
    padding:0;
    position:absolute;
    z-index:10;
    width:100%;   
}
#ut-sitebody .theme-default .nivo-directionNav a {
    text-indent:inherit;
}
#ut-sitebody .wpb_slider_nivo .nivo-directionNav a {
    background:none;
    color:#333333;
    display:block;
    font-family:FontAwesome !important;
    font-size:40px;
    height:80px;
    margin-top:-40px;
    line-height:80px;
    text-align:center;
    top:50%;
    width:80px;   
}
#ut-sitebody .wpb_slider_nivo.theme-default a.nivo-prevNav {
    left:0;
}
#ut-sitebody .wpb_slider_nivo.theme-default a.nivo-nextNav {
    right:0;   
}
#ut-sitebody .wpb_slider_nivo .nivo-directionNav a.nivo-prevNav::before {
     content: "\f104";
}
#ut-sitebody .wpb_slider_nivo .nivo-directionNav a.nivo-nextNav::before {
    content: "\f105";
}

/* #Bklyn Visual Composer Customization Image Grid Deprecated
================================================== */

.vc_grid.vc_row.vc_grid-gutter-40px .vc_grid-item {
    padding-bottom:40px;
    padding-right:40px;   
}
.vc_grid.vc_row.vc_grid-gutter-40px .vc_pageable-slide-wrapper {
    margin-right:-40px;
}

/* #Bklyn Image Gallery
================================================== */

.ut-image-gallery {
    overflow:hidden !important;   
}
.ut-image-gallery-item {
    margin:0;
    padding:0;
    text-align:center;
}
.ut-image-gallery-item img {
    border:none !important;
    -webkit-backface-visibility:hidden;
        backface-visibility:hidden;
        -webkit-box-shadow:#000 0em 0em 0em !important;
            -moz-box-shadow:#000 0em 0em 0em !important;
                box-shadow:#000 0em 0em 0em !important;
}
.ut-image-gallery-item a {
    display:block;
    height:100%;
    width:100%;
}
.wpb_content_element.ut-gallery-5,
.wpb_content_element.ut-gallery-10,
.wpb_content_element.ut-gallery-15,
.wpb_content_element.ut-gallery-20,
.wpb_content_element.ut-gallery-25,
.wpb_content_element.ut-gallery-30,
.wpb_content_element.ut-gallery-35,
.wpb_content_element.ut-gallery-40 {
    margin-bottom:0;
}
.ut-image-gallery-5 .ut-image-gallery-item {
    padding:0 5px 5px 0;
}
.ut-image-gallery-5 {
    margin-right:-5px;
}
.ut-image-gallery-10 .ut-image-gallery-item {
    padding:0 10px 10px 0;
}
.ut-image-gallery-10 {
    margin-right:-10px;
}
.ut-image-gallery-15 .ut-image-gallery-item {
    padding:0 15px 15px 0;
}
.ut-image-gallery-15 {
    margin-right:-15px;
}
.ut-image-gallery-20 .ut-image-gallery-item {
    padding:0 20px 20px 0;
}
.ut-image-gallery-20 {
    margin-right:-20px;
}
.ut-image-gallery-25 .ut-image-gallery-item {
    padding:0 25px 25px 0;
}
.ut-image-gallery-25 {
    margin-right:-25px;
}
.ut-image-gallery-30 .ut-image-gallery-item {
    padding:0 30px 30px 0;
}
.ut-image-gallery-30 {
    margin-right:-30px;
}
.ut-image-gallery-35 .ut-image-gallery-item {
    padding:0 35px 35px 0;
}
.ut-image-gallery-35 {
    margin-right:-35px;
}
.ut-image-gallery-40 .ut-image-gallery-item {
    padding:0 40px 40px 0;
}
.ut-image-gallery-40 {
    margin-right:-40px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
.ut-no-animation-tablet {
    -webkit-animation:none !important;
    -moz-animation:none !important;
    animation:none !important;
    opacity:1 !important;
    visibility:visible !important;
    -webkit-animation-name:none !important;
    animation-name:none !important;
} 
}
@media screen and (max-width: 767px) {
.ut-no-animation-mobile {
    -webkit-animation:none !important;
    -moz-animation:none !important;
    animation:none !important;
    opacity:1 !important;
    visibility:visible !important;
    -webkit-animation-name:none !important;
    animation-name:none !important;
}
.ut-image-gallery-5 .ut-image-gallery-item {
    padding:0 0 5px 0;
}
.ut-image-gallery-5 {
    margin-right:0;
}
.ut-image-gallery-10 .ut-image-gallery-item {
    padding:0 0 10px 0;
}
.ut-image-gallery-10 {
    margin-right:0;
}
.ut-image-gallery-15 .ut-image-gallery-item {
    padding:0 0 15px 0;
}
.ut-image-gallery-15 {
    margin-right:0;
}
.ut-image-gallery-20 .ut-image-gallery-item {
    padding:0 0 20px 0;
}
.ut-image-gallery-20 {
    margin-right:0;
}
.ut-image-gallery-25 .ut-image-gallery-item {
    padding:0 0 25px 0;
}
.ut-image-gallery-25 {
    margin-right:0;
}
.ut-image-gallery-30 .ut-image-gallery-item {
    padding:0 0 30px 0;
}
.ut-image-gallery-30 {
    margin-right:0;
}
.ut-image-gallery-35 .ut-image-gallery-item {
    padding:0 0 35px 0;
}
.ut-image-gallery-35 {
    margin-right:0;
}
.ut-image-gallery-40 .ut-image-gallery-item {
    padding:0 0 40px 0;
}
.ut-image-gallery-40 {
    margin-right:0;
}
}

/* #Bklyn Gallery Slider
================================================== */

.ut-owl-gallery-slider-wrap {
    position:relative;
}
.ut-owl-gallery-slider-wrap,
.owl-carousel.owl-loaded {
    overflow:hidden;   
}
.ut-owl-gallery-slide {
    position:relative;
}
.ut-owl-gallery-slider .owl-nav {
    display:none;
}
.ut-owl-gallery-slider-wrap .ut-prev-gallery-slide,
.ut-owl-gallery-slider-wrap .ut-next-gallery-slide {
    position:absolute;
    width:80px;
    height:80px;
    top:50%;
    font-size:40px;
    margin-top:-40px;
    z-index:10;
    line-height:80px;
    text-align:center;
    background:rgb(255,255,255);
    background:rgba(255,255,255,0.15);
}
.ut-owl-gallery-slider-wrap .ut-prev-gallery-slide {
    left:0;   
}
.ut-owl-gallery-slider-wrap .ut-next-gallery-slide {
    right:0;    
}
.ut-owl-gallery-slider-wrap .owl-dots {
    position:absolute;
    bottom:10px;
    width:100%;
    z-index:10;      
}
.ut-owl-gallery-slider-wrap .owl-theme .owl-dots .owl-dot span {
    background:#FFFFFF;
    border-radius:30px;
    display:block;
    height:10px;
    margin:5px 7px;
    -webkit-transition:opacity 200ms ease 0s;;
        -moz-transition:opacity 200ms ease 0s;;
            transition:opacity 200ms ease 0s;
    width:10px;
}
.ut-owl-gallery-slider-wrap .owl-theme .owl-dots .owl-dot.active span, 
.ut-owl-gallery-slider-wrap  .owl-theme .owl-dots .owl-dot:hover span {
    background:#333333;
}

.ut-owl-gallery-slider-wrap .ut-owl-video-link {
    color:#FFFFFF;   
}
.ut-owl-gallery-slider-wrap .ut-owl-video-play-icon {
    border:4px solid #FFFFFF;
    height:80px;
    width:80px;
    line-height:72px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-40px;
    margin-left:-40px;
    font-size:40px;
    z-index:10;
    text-align:center;
    -webkit-border-radius:50%;
        -moz-border-radius:50%;
            border-radius:50%;
}
.ut-owl-gallery-slider-wrap .ut-owl-video-play-icon .fa {
    padding-left:4px;
}
@media screen and (max-width: 767px) {
.ut-owl-gallery-slider-wrap .ut-prev-gallery-slide,
.ut-owl-gallery-slider-wrap .ut-next-gallery-slide {
    width:40px;
    height:40px;
    font-size:20px;
    margin-top:-20px;
    line-height:40px;
}
.ut-owl-gallery-slider-wrap .owl-dots {
    display:none !important;
}
.ut-owl-gallery-slider-wrap .ut-owl-video-play-icon {
    border-width:2px;
    height:40px;
    width:40px;
    line-height:36px;
    font-size:20px;
    margin-top:-20px;
    margin-left:-20px;   
}
.ut-owl-gallery-slider-wrap .ut-owl-video-play-icon .fa {
    padding-left:2px;
}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {

}

/* #Bklyn LightBox
================================================== */

#ut-sitebody .lg-actions .lg-next, 
#ut-sitebody .lg-actions .lg-prev {
    color:#FFFFFF;
    height:80px;
    text-align:center;
    padding:0;
    width:40px;
    margin-top:-40px;
    line-height:80px;    
}
.lg-actions .lg-next:hover, 
.lg-actions .lg-prev:hover {
    color:#999999;
}
#ut-sitebody .lg-backdrop {
    background:rgb(34,34,34);
    background:rgba(0,0,0,0.9);   
}
#ut-sitebody .lg-actions .lg-next::before {
    font-family:FontAwesome !important;
    content: "\f105";
}
#ut-sitebody .lg-actions .lg-prev::after {
    font-family:FontAwesome !important;
    content: "\f104";
}
#ut-sitebody .lg-sub-html h4 {
    color:#FFFFFF;
}

/* #Bklyn New Footer Spacings
================================================== */

.ut-footer-area .grid-container {
    padding-left:0;
    padding-right:0;
}
.ut-footer-area .grid-5, .ut-footer-area .mobile-grid-5, .ut-footer-area .tablet-grid-5, .ut-footer-area .grid-10, .ut-footer-area .mobile-grid-10, .ut-footer-area .tablet-grid-10, .ut-footer-area .grid-15, .ut-footer-area .mobile-grid-15, .ut-footer-area .tablet-grid-15, .ut-footer-area .grid-20, .ut-footer-area .mobile-grid-20, .ut-footer-area .tablet-grid-20, .ut-footer-area .grid-25, .ut-footer-area .mobile-grid-25, .ut-footer-area .tablet-grid-25, .ut-footer-area .grid-30, .ut-footer-area .mobile-grid-30, .ut-footer-area .tablet-grid-30, .ut-footer-area .grid-35, .ut-footer-area .mobile-grid-35, .ut-footer-area .tablet-grid-35, .ut-footer-area .grid-40, .ut-footer-area .mobile-grid-40, .ut-footer-area .tablet-grid-40, .ut-footer-area .grid-45, .ut-footer-area .mobile-grid-45, .ut-footer-area .tablet-grid-45, .ut-footer-area .grid-50, .ut-footer-area .mobile-grid-50, .ut-footer-area .tablet-grid-50, .ut-footer-area .grid-55, .ut-footer-area .mobile-grid-55, .ut-footer-area .tablet-grid-55, .ut-footer-area .grid-60, .ut-footer-area .mobile-grid-60, .ut-footer-area .tablet-grid-60, .ut-footer-area .grid-65, .ut-footer-area .mobile-grid-65, .ut-footer-area .tablet-grid-65, .ut-footer-area .grid-70, .ut-footer-area.mobile-grid-70, .ut-footer-area .tablet-grid-70, .ut-footer-area .grid-75, .ut-footer-area .mobile-grid-75, .ut-footer-area .tablet-grid-75, .ut-footer-area .grid-80, .ut-footer-area .mobile-grid-80, .ut-footer-area .tablet-grid-80, .ut-footer-area .grid-85, .ut-footer-area .mobile-grid-85, .ut-footer-area .tablet-grid-85, .ut-footer-area .grid-90, .ut-footer-area .mobile-grid-90, .ut-footer-area .tablet-grid-90, .ut-footer-area .grid-95, .ut-footer-area .mobile-grid-95, .ut-footer-area .tablet-grid-95, .ut-footer-area .grid-100, .ut-footer-area .mobile-grid-100, .ut-footer-area .tablet-grid-100, .ut-footer-area .grid-33, .ut-footer-area .mobile-grid-33, .ut-footer-area .tablet-grid-33, .ut-footer-area .grid-66, .ut-footer-area .mobile-grid-66, .ut-footer-area .tablet-grid-66 {
    padding-left:20px;
    padding-right:20px;
}

/* #Old Shortcodes Fixes For Visual Composer
================================================== */

.wpb_wrapper .ut-service-icon-box-content > *:last-child,
.wpb_wrapper .page-header .lead > *:last-child,
.wpb_wrapper .section-header .lead > *:last-child,
.wpb_wrapper .ut-service-column > *:last-child,
.wpb_wrapper .ut-info > *:last-child {
    margin-bottom:0;   
}
.wpb_wrapper .section-header > *:first-child {
    margin-bottom:20px;   
}
.wpb_wrapper .section-header > *:last-child {
    margin-bottom:0;   
}

/* #Bklyn Call to Action
================================================== */

.bklyn-call-to-action-wrapper h3 {
    margin-bottom:0;
}
.bklyn-call-to-action-wrapper {
    display:block;
    margin:0;
    padding:0;
    width:100%;   
}
.bklyn-call-to-action-inner {
    display:table;
    margin-left:-40px;
    margin-right:-40px;
    padding:40px;   
}
.bklyn-call-to-action-content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display:table-cell;
    padding-right:40px;
    text-align:left;
    max-width:70%;
}
.bklyn-call-to-action-button-holder {
    display:table-cell;
    vertical-align:middle;
    max-width:30%;
}
.bklyn-call-to-action-content > p {
    margin-top:15px;   
}
.bklyn-call-to-action-content > *:last-child {
    margin-bottom:0;
}

@media (max-width: 767px) { 
.bklyn-call-to-action-content {
    display:block;
    max-width:100%;
    margin-bottom:20px; 
    padding-right:0;
}
.bklyn-call-to-action-button-holder {
    display:block;
    vertical-align:middle;
    max-width:100%;
}
.bklyn-call-to-action-button-holder .bklyn-btn-holder.bklyn-btn-right {
    text-align:left;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
.bklyn-call-to-action-content {
    display:block;
    max-width:100%;
    margin-bottom:20px; 
    padding-right:0;  
}
.bklyn-call-to-action-button-holder {
    display:block;
    vertical-align:middle;
    max-width:100%;
}
.bklyn-call-to-action-button-holder .bklyn-btn-holder.bklyn-btn-right {
    text-align:left;
}
}

/* #Bklyn Service Icon Box
================================================== */

.wpb_wrapper .ut-service-icon-box.ut-service-icon-box-left,
.wpb_wrapper .ut-service-icon-box.ut-service-icon-box-left .ut-highlight-icon-wrap {
    text-align:left;
}
.wpb_wrapper .ut-service-icon-box.ut-service-icon-box-right,
.wpb_wrapper .ut-service-icon-box.ut-service-icon-box-right .ut-highlight-icon-wrap {
    text-align:right;   
}
.wpb_wrapper .ut-service-icon-box .ut-highlight-icon-wrap  {
    margin:0;
    padding:0;
    vertical-align:bottom;
}
.wpb_wrapper .ut-service-icon-box .ut-highlight-icon-wrap a {
    margin:0;
}
.wpb_wrapper .ut-service-icon-box .ut-highlight-icon-wrap img {
    height:40px;
    width:40px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-20px;
    margin-top:-20px;  
}
.wpb_wrapper .ut-service-icon-box-content {
    margin-top:30px;
}
.wpb_wrapper .ut-service-icon-box-content h3 {
    margin-bottom:0;
}
.wpb_wrapper .ut-service-icon-box-content > p {
    margin-top:15px;   
}

/* #Bklyn Service Column
================================================== */

.wpb_wrapper .ut-service-column h3 {
    margin-bottom:0;
}
.wpb_wrapper .ut-service-column > p {
    margin-top:15px;   
}
.wpb_wrapper .ut-service-icon {
    margin-bottom:0;
    width:48px;
    margin-right:10px;
    text-align:left;
}
.wpb_wrapper .ut-service-icon.fa-stack {
    width:2em;
    margin-right:20px;
}
.wpb_wrapper .ut-service-icon.ut-custom-icon {
    margin-right:20px;   
}
.wpb_wrapper .ut-service-icon.ut-si-right {
    margin-right:0;
    margin-left:10px;
    text-align:right;
}
.wpb_wrapper .ut-service-icon.ut-si-right.fa-stack {
    margin-right:0;
    margin-left:20px;
}
.wpb_wrapper .ut-service-icon.ut-si-right.ut-custom-icon {
    margin-right:0;
    margin-left:20px;   
}
.wpb_wrapper .ut-service-column.ut-vertical {
    margin-top:20px;
}
@media (max-width: 767px) {
    
.wpb_wrapper .ut-service-icon {
    font-size:24px; 
    width:32px;
}
.wpb_wrapper .ut-service-icon.ut-si-right {
    margin-right:20px;
    margin-left:0;
    text-align:left;
}
.wpb_wrapper .ut-service-icon,
.wpb_wrapper .ut-service-icon.ut-si-right.fa-stack,
.wpb_wrapper .ut-service-icon.ut-si-right.ut-custom-icon {
    margin-right:20px;
    margin-left:0;   
}
.wpb_wrapper .ut-service-icon.fa-stack i:last-child {
    font-size:0.7em;
}
.ut-service-icon.fa-stack {
    line-height:2em !important;
}
} 
@media (min-width: 768px) and (max-width: 1024px) {

}

/* #Bklyn Service Column Vertical
================================================== */

.wpb_wrapper .ut-vertical-style .ut-service-icon {
    display: block;
    float: none;
    margin: 0 auto 12px;
    text-align:center;
}

/* #Bklyn Service Box
================================================== */

.wpb_wrapper .ut-icon-box {
    height:100px;
    margin-bottom:0;
    margin-right:30px;
    width:100px;
}
.wpb_wrapper .ut-info h3 {
    margin-bottom:0;
}
.wpb_wrapper .ut-info > p {
    margin-top:15px;   
}
.wpb_wrapper .ut-icon-box .ut-service-box-icon {
    font-size:50px;
    line-height:100px;   
}
@media (max-width: 767px) { 
.wpb_wrapper .ut-icon-box {
    margin:0 auto 20px;   
}
}
@media (min-width: 768px) and (max-width: 1024px) {
   .wpb_wrapper .ut-icon-box {
    margin:0 auto 20px;   
}
}

/* #Bklyn Section Headers
================================================== */

.wpb_wrapper .section-header,
#home .wpb_wrapper .section-header {
    margin-bottom:0;
    padding-bottom:0;
}
.wpb_wrapper .section-title {
    margin-bottom:0;   
}
#primary .wpb_wrapper .section-header .lead p {
    margin-top:0;   
}

/* #Bklyn Page Headers
================================================== */

#primary .page-header {
    margin-bottom:40px;
    padding-bottom:0;
}
#primary .page-title {
    margin-bottom:0;   
}
#primary .lead > p {
    margin-top:20px;   
}

/* #Bklyn Contact Form 7
================================================== */

.wpb_wrapper .wpb_content_element form > p:last-child {
    margin-bottom:0;
}

/* #Bklyn Buttons
================================================== */

.bklyn-btn-holder {
    position:relative;
}
.bklyn-btn-holder.bklyn-btn-center {
    text-align:center;   
}
.bklyn-btn-holder.bklyn-btn-left {
    text-align:left;
}
.bklyn-btn-holder.bklyn-btn-right {
    text-align:right;   
}
.bklyn-btn {
    background:#F1C40F;
    border:0 none;
    cursor: pointer;
    color:#FFFFFF;
    display: inline-block;
    font-family:inherit;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    margin:0;
    padding:10px 20px;
    line-height:1.6;
    overflow:hidden;
    vertical-align:middle;
    -webkit-border-radius:0;
        -moz-border-radius:0;
            border-radius:0;
    -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
            box-sizing:border-box;
	-webkit-transition:0.2s all linear;
	    -moz-transition:0.2s all linear;
	        transition:0.2s all linear;    
    -webkit-user-select:none; 
        -moz-user-select:none; 
            -ms-user-select:none;
                user-select:none; 
}
.bklyn-btn.bklyn-btn-round {
   -webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.bklyn-btn.bklyn-btn-outline {
    border:4px solid #000000;
    background:transparent;
    color:#000000;
}
.bklyn-btn.bklyn-btn-mini {
	font-size:75%;
}
.bklyn-btn.bklyn-btn-small {
	font-size:12px;
}
.bklyn-btn.bklyn-btn-normal {
    font-size:inherit;
}
.bklyn-btn.bklyn-btn-large {
    font-size:20px;
}

/* #Bklyn QT Testimonials
================================================== */

.ut-bkly-qt-rotator {
    position:relative;
    margin:0 auto !important;
    max-width:720px;
}
.ut-bkly-qt-rotator .owl-controls {
    display:none;
}
.bkly-testimonials-style1,
.bkly-testimonials-style2 {
    display:block;
    text-align:center;
    margin:0 auto; 
    max-width:720px;
    position:relative;
    width:100%;
    -webkit-backface-visibility:hidden !important;
        backface-visibility:hidden !important;
}
.bkly-testimonials-style2 {
    max-width:100%;
    width:100%;
    text-align:left;
}
.bkly-testimonials-style1 .bklyn-testimonials-avatar,
.bkly-testimonials-style2 .bklyn-testimonials-avatar {
    height:140px;
    width:140px;
    display:block;
    margin:0 auto 40px;
    overflow:hidden !important;
    -webkit-backface-visibility:hidden !important;
        backface-visibility:hidden !important;
}
.bkly-testimonials-style1 .bklyn-testimonials-avatar img,
.bkly-testimonials-style2 .bklyn-testimonials-avatar img {
    height:140px;
    width:140px;
    -webkit-border-radius:50%;
        -moz-border-radius:50%;
            border-radius:50%;
}
.bkly-testimonials-style1 .bklyn-testimonials-quote > *:last-child {
    margin-bottom:0;
}
.bkly-testimonials-style1 .bklyn-about-testimonials-author {
    margin-top:20px;   
}
.bkly-testimonials-style1 .bklyn-testimonials-author,
.bkly-testimonials-style2 .bklyn-testimonials-author {
    font-weight:bold;
}
.bkly-testimonials-style1 .bklyn-testimonials-origin,
.bkly-testimonials-style2 .bklyn-testimonials-origin {
    font-size:85%;
}
.ut-bkly-qt-rotator .ut-prev-gallery-slide,
.ut-bkly-qt-rotator .ut-next-gallery-slide {
    position:absolute;
    width:80px;
    height:80px;
    top:70px;
    font-size:40px;
    margin-top:-40px;
    z-index:10;
    line-height:80px;
    text-align:center;
    background:rgb(255,255,255);
    background:rgba(255,255,255,0.15);
}
.ut-bkly-qt-rotator .ut-prev-gallery-slide {
    left:140px;   
}
.ut-bkly-qt-rotator .ut-next-gallery-slide {
    right:140px;    
}

/* Style 2 */ 

.ut-bkly-qt-rotator.ut-bklyn-qt-rotator-style-2 .ut-prev-gallery-slide,
.ut-bkly-qt-rotator.ut-bklyn-qt-rotator-style-2 .ut-next-gallery-slide {
    top:50%;
    font-size:40px;
    margin-top:-40px;
}
.ut-bkly-qt-rotator.ut-bklyn-qt-rotator-style-2 .ut-prev-gallery-slide {
    left:0;
}
.ut-bkly-qt-rotator.ut-bklyn-qt-rotator-style-2 .ut-next-gallery-slide {
    right:0;   
}
.ut-bkly-qt-rotator.ut-bklyn-qt-rotator-style-2 .bklyn-about-testimonials-author {
    display:table;
    margin:20px 0 0 0;   
}
.bkly-testimonials-style2 .bklyn-testimonials-avatar {
    display:table-cell;
    float:none;
    margin:0;
}
.bkly-testimonials-style2 {
    padding:0 160px;   
}
.bkly-testimonials-style2 .bklyn-testimonials-avatar + .bklyn-testimonials-quote { 
    padding:0 0 0 80px; 
}
.bkly-testimonials-style2 .bklyn-testimonials-quote > *:last-child {
    margin-bottom:0;
}
.bklyn-testimonials-icon-wrap {
    margin-right:20px;   
}
.ut-bkly-qt-rotator.ut-bklyn-qt-rotator-style-2 .bklyn-testimonials-icon {
    display:table-cell;
    height:32px;
    vertical-align:top;
    width:32px;   
}
.ut-bkly-qt-rotator.ut-bklyn-qt-rotator-style-2 .bklyn-testimonials-icon img {
    height:32px;
    width:32px;
}
.bkly-testimonials-style2 .bklyn-testimonials-author-wrap {
    display:table-cell;
    vertical-align:middle;   
}
.ut-bkly-qt-rotator.ut-bklyn-qt-rotator-style-2 {
    max-width:100%;
}
.ut-bkly-qt-rotator.ut-bklyn-qt-rotator-style-2 .bkly-testimonials-style2 {
    display:table;
    overflow:hidden;
}
.ut-bkly-qt-rotator.ut-bklyn-qt-rotator-style-2 .bkly-testimonials-style2 .bklyn-testimonials-quote {
    display:table-cell;
    vertical-align:middle;
    overflow:hidden;
}
.bklyn-testimonials-quote p {
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size:20px;
    line-height:30px;   
}

/* Phone */
@media screen and (max-width: 400px) {
.ut-bkly-qt-rotator .ut-prev-gallery-slide {
    left:-25px;   
}
.ut-bkly-qt-rotator .ut-next-gallery-slide {
    right:-25px;    
}
}

/* Phone */
@media screen and (max-width: 767px) { 
.ut-bkly-qt-rotator .ut-prev-gallery-slide {
    left:70px;   
}
.ut-bkly-qt-rotator .ut-next-gallery-slide {
    right:70px;    
}
.bkly-testimonials-style2 .bklyn-testimonials-avatar {
    display:block;
    margin:0 auto;
}
.ut-bkly-qt-rotator.ut-bklyn-qt-rotator-style-2 .bkly-testimonials-style2 .bklyn-testimonials-quote {
    display:block;
    vertical-align:middle;
    overflow:hidden;
}
.bkly-testimonials-style2 .bklyn-testimonials-avatar + .bklyn-testimonials-quote { 
    padding:20px 0 0 0; 
}
.bkly-testimonials-style2 {
    padding:0;
}
.ut-bkly-qt-rotator.ut-bklyn-qt-rotator-style-2 .ut-prev-gallery-slide,
.ut-bkly-qt-rotator.ut-bklyn-qt-rotator-style-2 .ut-next-gallery-slide {
    display:none;
}
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
.ut-bkly-qt-rotator .ut-prev-gallery-slide {
    left:140px;   
}
.ut-bkly-qt-rotator .ut-next-gallery-slide {
    right:140px;    
}
.bkly-testimonials-style2 .bklyn-testimonials-avatar {
    display:block;
    margin:0 auto;
}
.ut-bkly-qt-rotator.ut-bklyn-qt-rotator-style-2 .bkly-testimonials-style2 .bklyn-testimonials-quote {
    display:block;
    vertical-align:middle;
    overflow:hidden;
}
.bkly-testimonials-style2 .bklyn-testimonials-avatar + .bklyn-testimonials-quote { 
    padding:20px 0 0 0; 
}
.bkly-testimonials-style2 {
    padding:0;
}
.ut-bkly-qt-rotator.ut-bklyn-qt-rotator-style-2 .ut-prev-gallery-slide,
.ut-bkly-qt-rotator.ut-bklyn-qt-rotator-style-2 .ut-next-gallery-slide {
    display:none;
}
}

/* #Bklyn Count Up
================================================== */

.wpb_wrapper .ut-counter-box {
    margin-bottom:0;
    padding:0;
}
.wpb_wrapper .ut-counter-box .fa {
    margin-bottom:15px;
}
.wpb_wrapper .ut-counter-details {
    margin-top:10px;
}

/* #Bklyn Lists
================================================== */

.wpb_wrapper .bklyn-list > *:last-child {
    margin-bottom:0;
}
.wpb_wrapper .bklyn-list {
    margin-bottom:0;
}
.wpb_wrapper .bklyn-list li {
    margin-bottom:10px;
}
.wpb_wrapper .bklyn-list li .fa {
    padding-right:20px;
}
.wpb_wrapper .bklyn-list li > *:last-child {
    margin-bottom:0;
    padding-bottom:0;
}
.wpb_wrapper .bklyn-list.bklyn-list-style-none {
    margin-left:0;
}

/* #Bklyn Overlay Styles
================================================== */

.bklyn-row-with-overlay {
    position:relative;
}
.bklyn-row-with-overlay > * {
    z-index:3;
}
.bklyn-column-with-overlay {
    position:relative;
}
.bklyn-column-with-overlay > * {
    z-index:3;
}
.bklyn-column-with-overlay .wpb_wrapper {
    z-index:3;
    position:relative;
}

.bklyn-overlay {
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-repeat:repeat;
    position:absolute;
    z-index:2 !important; 
}
.bklyn-row-with-overlay.vc_parallax .vc_parallax-inner {
    z-index:1 !important; 
}
.bklyn-overlay.bklyn-style-one {
    background-image:url("../images/overlay-pattern.png");
}
.bklyn-overlay.bklyn-style-two {
    background-image:url("../images/overlay-pattern2.png");       
}

/* #Bklyn Team Member
================================================== */

.bklyn-team-member {
    position:relative;
    text-align:center;
    overflow:hidden;
}
.bklyn-team-member.bklyn-team-member-left {
    text-align:left;
}
.bklyn-team-member-avatar {
    display:block;
}
.bklyn-team-member-avatar img {
    vertical-align:bottom;
}
.bklyn-team-member-name {
    margin-bottom:0;
}
.bklyn-team-member-info {
    margin-top:20px;
}
.bklyn-team-member-info > *:last-child {
    margin-bottom:0;
}
.bklyn-team-member-ocupation {
    font-size:85%;
    font-weight:bold;
    margin-top:0;
}
.bklyn-team-member-social-icons {
    border-top:2px solid #EDEDED;
    margin-top:20px;
    padding-top:20px;
}
.bklyn-team-member-social-icons ul {
    list-style:none;
    margin:0;
}
.bklyn-team-member-social-icons ul li {
    display:inline;
    margin:0 10px;
}
.bklyn-team-member-social-icons ul li:first-child {
    margin-left:0;
}
.bklyn-team-member-social-icons ul li:last-child {
    margin-right:0;
}

/* Team Style 2 */

.bklyn-team-member.bklyn-team-member-style-2 .bklyn-team-member-avatar {
    height:140px;
    margin:0 auto;
    width:140px;
}
.bklyn-team-member.bklyn-team-member-style-2 .bklyn-team-member-avatar img {
    height:140px;
    width:140px;
    -webkit-border-radius:50%;
        -moz-border-radius:50%;
            border-radius:50%;
}

/* Team Style 3 */

.bklyn-team-member.bklyn-team-member-style-3 {
    text-align:center;
}
.bklyn-team-member.bklyn-team-member-style-3 .bklyn-team-member-overlay {
    height:100%;
    left:0;
    min-height:100%;
    position:absolute;
    top:0;
    width:100%;
    opacity:0;
    animation-duration:0.5s;
    animation-fill-mode:both;
    animation-name:fadeOut;
        -webkit-animation-duration:0.5s;
        -webkit-animation-fill-mode:both;
        -webkit-animation-name:fadeOut;
}
.bklyn-team-member.bklyn-team-member-style-3:hover .bklyn-team-member-overlay {
    opacity:1;
    background:rgb(51,153,255);
    background:rgba(51,153,255, 0.7);
    color:#FFFFFF;
    animation-duration:0.5s;
    animation-fill-mode:both;
    animation-name:fadeIn;
        -webkit-animation-duration:0.5s;
        -webkit-animation-fill-mode:both;
        -webkit-animation-name:fadeIn;    
}
.bklyn-team-member.bklyn-team-member-style-3 .bklyn-team-member-overlay-caption {
    display:table;
    height:100%;
    min-height:100%;
    position:relative;
    width:100%;
}
.bklyn-team-member.bklyn-team-member-style-3 .bklyn-team-member-info {
    display:none;
    vertical-align:middle;
    padding:40px;
}
.bklyn-team-member.bklyn-team-member-style-3:hover .bklyn-team-member-info {
    display:table-cell;
}
.bklyn-team-member.bklyn-team-member-style-3  .bklyn-team-member-social-icons {
    border-top:none 0;
    margin-top:10px;
    padding-top:0;   
}
.bklyn-team-member.bklyn-team-member-style-3 .bklyn-team-member-ocupation {
    margin-bottom:0;
}

/* Team Style 4 */

.bklyn-team-member.bklyn-team-member-style-4 {
    text-align:left;
}
.bklyn-team-member.bklyn-team-member-style-4 .bklyn-team-member-overlay {
    height:100%;
    left:0;
    min-height:100%;
    position:absolute;
    top:0;
    width:100%;
    opacity:0;
    animation-duration:0.5s;
    animation-fill-mode:both;
    animation-name:fadeOut;
        -webkit-animation-duration:0.5s;
        -webkit-animation-fill-mode:both;
        -webkit-animation-name:fadeOut;
}
.bklyn-team-member.bklyn-team-member-style-4:hover .bklyn-team-member-overlay {
    opacity:1;
    background:rgb(51,153,255);
    background:rgba(51,153,255, 0.7);
    color:#FFFFFF;
    animation-duration:0.5s;
    animation-fill-mode:both;
    animation-name:fadeIn;
        -webkit-animation-duration:0.5s;
        -webkit-animation-fill-mode:both;
        -webkit-animation-name:fadeIn;   
}
.bklyn-team-member.bklyn-team-member-style-4 .bklyn-team-member-overlay-caption {
    display:table;
    height:100%;
    min-height:100%;
    position:relative;
    width:100%;
}
.bklyn-team-member.bklyn-team-member-style-4 .bklyn-team-member-info {
    display:none;
    vertical-align:bottom;
    padding:20px;
    animation-duration:1s;
    animation-fill-mode:both;
    animation-name:fadeOut;
        -webkit-animation-duration:1s;
        -webkit-animation-fill-mode:both;
        -webkit-animation-name:fadeOut;
}
.bklyn-team-member.bklyn-team-member-style-4:hover .bklyn-team-member-info {
    display:table-cell;
    animation-duration:1s;
    animation-fill-mode:both;
    animation-name:fadeIn;
        -webkit-animation-duration:1s;
        -webkit-animation-fill-mode:both;
        -webkit-animation-name:fadeIn;
}
.bklyn-team-member.bklyn-team-member-style-4  .bklyn-team-member-social-icons {
    border-top:none 0;
    margin-top:10px;
    padding-top:0;   
}
.bklyn-team-member.bklyn-team-member-style-4 .bklyn-team-member-ocupation {
    margin-bottom:0;
}

/* #Bklyn Single Testimonial
================================================== */

/* Style 1 */

.wpb_wrapper .bklyn-single-testimonial .ut-st > p:last-child,
.wpb_wrapper .bklyn-single-testimonial .ut-st {
    margin-bottom:0;
}
.wpb_wrapper .bklyn-single-testimonial .ut-st p {
    margin-bottom:20px;
}
.wpb_wrapper .bklyn-single-testimonial .ut-st-date,
.wpb_wrapper .bklyn-single-testimonial .ut-st-subtitle {
    font-size:85%;
}
.wpb_wrapper .bklyn-single-testimonial p.ut-st-name {
    font-weight:bold;
    margin-bottom:0;
}
.wpb_wrapper .bklyn-single-testimonial .ut-st-date {
    font-weight:bold;
}
.wpb_wrapper .bklyn-single-testimonial .ut-st-rating {
    margin-bottom:0;
    margin-top:20px;   
}
.wpb_wrapper .bklyn-single-testimonial .ut-st-avatar img {
    -webkit-border-radius:50%;
        -moz-border-radius:50%;
            border-radius:50%;
    height:80px;
    width:80px;
}

/* Phone & Small Tablets */
@media screen and (max-width: 767px) {
.wpb_wrapper .bklyn-single-testimonial-style-1 {
    text-align:center;
}
}
/* Tablet Landscape */
@media screen and (min-width: 768px) and (max-width: 1024px) {

}

/* #Bklyn Elastslider (Client Carousel)
================================================== */

.bklyn-elastislider {
    margin-bottom:0;
}

/* #Bklyn Split Sections
================================================== */

.bklyn-split-section-wrap {
  display:table;
  height:100%;
  width:100%;
}
.bklyn-split-section {
  display:table-cell;
  vertical-align:middle;
  width:50%;
  padding:40px;
}
.bklyn-split-section *:last-child {
    margin-bottom:0;
}
.bklyn-split-image {
    background-repeat:no-repeat;
    background-position:center center;
    -webkit-background-size:cover;
        -moz-background-size:cover;
            background-size:cover;
}
.bklyn-split-background-color {
}
.bklyn-split-video {
    text-align:center;   
}
.bklyn-split-slider { 
}

/* #Bklyn Parallax Quote
================================================== */

.wpb_wrapper .ut-parallax-quote .ut-parallax-quote-title {
    margin:0;
    padding:0;
    border:none;
    line-height:150%;
}
.wpb_wrapper .ut-parallax-quote .ut-parallax-quote-title .fa-quote-left,
.wpb_wrapper .ut-parallax-quote .ut-parallax-quote-title .fa-quote-right {
    font-size:14px;   
}
.wpb_wrapper .ut-parallax-quote .ut-parallax-quote-name {
    display:block;
    font-size:85%;
    margin-bottom:0; 
    margin-top:20px;
    line-height:112.5%;
}
.wpb_wrapper .ut-parallax-quote .ut-parallax-icon {
    display:block;
    font-size:40px;
    height:80px;
    margin:0 auto 20px auto;
    line-height:80px;
    text-align:center;
    width:80px;
}
.wpb_wrapper .ut-parallax-quote .ut-parallax-icon .fa {
    margin:0;
    padding:0;
    line-height:80px;   
}
/* Phone & Small Tablets */
@media screen and (max-width: 767px) { 
.wpb_wrapper .ut-parallax-quote .ut-parallax-quote-title {
    font-size:inherit;
    letter-spacing:normal !important;
}
.wpb_wrapper .ut-parallax-quote .ut-parallax-icon {
    font-size:20px;
    height:40px;
    line-height:40px;
    width:40px;
}
.wpb_wrapper .ut-parallax-quote .ut-parallax-icon .fa {
    line-height:40px;   
}
}
/* Tablet Landscape */
@media screen and (min-width: 768px) and (max-width: 1024px) {

}

/* #Bklyn Fancy Image
================================================== */

.wpb_wrapper .ut-fancy-image-wrap {
    margin-bottom:40px;
}

/* #Bklyn Porfolio Share Icons
================================================== */

#ut-sitebody .wpb_wrapper .ut-portfolio-info-details {
    font-weight:inherit;
    overflow:hidden;
}
#ut-sitebody .wpb_wrapper .ut-portfolio-info-details ul {
    margin:-20px 0 0 0;
    list-style:none;
    padding:0;
    width:100%;
}
#ut-sitebody .wpb_wrapper .ut-portfolio-info-details ul li {
    margin:20px 0 0 0;
    padding:0;
}
#ut-sitebody .wpb_wrapper .ut-portfolio-info-details ul li p {
    margin:0;
    word-wrap:break-word;
}
#ut-sitebody .wpb_wrapper .ut-portfolio-info-details .ut-portfolio-info-details-compact {
    margin-right:-40px;   
}
#ut-sitebody .wpb_wrapper .ut-portfolio-info-details .ut-portfolio-info-details-compact li {
    float:left;
    width:50%;
    padding-right:40px;   
}
#ut-sitebody .wpb_wrapper .ut-portfolio-info-details .ut-portfolio-info-details-inline li {
    float:left;
    padding-right:40px;      
}
#ut-sitebody .wpb_wrapper .ut-portfolio-info-details .ut-portfolio-info-details-inline li:last-child {
    padding-right:0;
}
/* Phone & Small Tablets */
@media screen and (max-width: 767px) {
#ut-sitebody .wpb_wrapper .ut-portfolio-info-details .ut-portfolio-info-details-compact li {
    display:block;
    float:none;
    width:100%;
    padding-right:0;   
}
#ut-sitebody .wpb_wrapper .ut-portfolio-info-details .ut-portfolio-info-details-compact {
    margin-right:0;   
}
#ut-sitebody .wpb_wrapper .ut-portfolio-info-details .ut-portfolio-info-details-inline li {
    display:block;
    float:none;
    padding-right:0;      
}
}
/* Tablet Landscape */
@media screen and (min-width: 768px) and (max-width: 1024px) {
#ut-sitebody .wpb_wrapper .ut-portfolio-info-details .ut-portfolio-info-details-compact li {
    display:block;
    float:none;
    width:100%;
    padding-right:0;   
}
#ut-sitebody .wpb_wrapper .ut-portfolio-info-details .ut-portfolio-info-details-compact {
    margin-right:0;   
}
}

/* #Bklyn Porfolio Share Icons
================================================== */

.wpb_wrapper .ut-project-sc {
    margin:0;
}

/* #Bklyn Porfolio Navigation
================================================== */

#ut-portfolio-navigation-wrap {
    background:#f9f9f9;
    font-size:32px;
    height:120px;
}
#ut-portfolio-navigation-wrap .fa {
    line-height:120px;
}
#ut-portfolio-navigation-wrap a {
    display:block;
    height:100%;
    width:100%;
}
#ut-portfolio-navigation-wrap .ut-prev-portfolio {
    text-align:left;
}
#ut-portfolio-navigation-wrap .ut-main-portfolio-link {
    text-align:center;
}
#ut-portfolio-navigation-wrap .ut-next-portfolio {
    text-align:right;
}

/* #Bklyn Skill Bar
================================================== */

.wpb_wrapper .ut-skill-bar {
    overflow:hidden;
}
.wpb_wrapper .ut-skill {
    margin-bottom:0;
}
.wpb_wrapper .ut-skill .ut-skill-name {
    display:block;
    font-size:inherit;
    text-transform:inherit;
    margin-bottom:10px;
    line-height:100%;
}
.wpb_wrapper .ut-skill .ut-skill-percent {
    font-size:85%;
    float:right;
    padding:0 20px;
    font-weight:bold;   
}

/* #Bklyn Animate Image
================================================== */

.ut-animate-image a {
    display:block;
    height:100%;
    width:100%;
}

/* #Bklyn Portfolio Fixes
================================================== */

.ut-portfolio-custom-icon {
    position:absolute;
    top:40px;
    right:40px;
    width:40px;
    height:40px;
    text-align:center;
}
.ut-portfolio-custom-icon img {
    max-width:40px;
}
.ut-portfolio-item-packery-container .ut-portfolio-title-wrap {
    display:table;
    position:relative;
    height:80px;
    width:100%;
    padding:0;
}
.ut-portfolio-item-packery-container .ut-portfolio-title-wrap h3 {
    padding:0 40px;
    text-align:center;
}
.ut-portfolio-item-packery-container .ut-portfolio-title-wrap .ut-portfolio-title-inner-wrap {
    display:table-cell;
    height:100%;
    padding:0;
    vertical-align:middle;
    width:100%;   
}
.ut-portfolio-info-c span {
    font-size:11px;
}
#ut-sitebody .ut-carousel-6-col .portfolio-title,
#ut-sitebody .ut-carousel-6-col .ut-portfolio-info-c h3 {
    font-size:13px !important;
}
#ut-sitebody .ut-carousel-7-col .portfolio-title,
#ut-sitebody .ut-carousel-7-col .ut-portfolio-info-c h3 {
   font-size:12px !important;
}
#ut-sitebody .ut-carousel-8-col .portfolio-title,
#ut-sitebody .ut-carousel-8-col .ut-portfolio-info-c h3 {
   font-size:11px !important;
}
#ut-sitebody .ut-carousel-9-col .portfolio-title,
#ut-sitebody .ut-carousel-9-col .ut-portfolio-info-c h3 {
   font-size:10px !important;
}
#ut-sitebody .ut-carousel-7-col .ut-portfolio-info {
    padding:20px;
}
#ut-sitebody .ut-carousel-9-col .ut-portfolio-info,
#ut-sitebody .ut-carousel-8-col .ut-portfolio-info {
    padding:10px;   
}
#ut-sitebody .ut-carousel-9-col .ut-portfolio-info-c span,
#ut-sitebody .ut-carousel-8-col .ut-portfolio-info-c span,
#ut-sitebody .ut-carousel-7-col .ut-portfolio-info-c span,
#ut-sitebody .ut-carousel-6-col .ut-portfolio-info-c span {
    display:none;
}
@media screen and (max-width: 767px) {
#ut-sitebody .ut-carousel-9-col .ut-portfolio-info-c span,
#ut-sitebody .ut-carousel-8-col .ut-portfolio-info-c span,
#ut-sitebody .ut-carousel-7-col .ut-portfolio-info-c span,
#ut-sitebody .ut-carousel-6-col .ut-portfolio-info-c span,
#ut-sitebody .ut-carousel-5-col .ut-portfolio-info-c span,
#ut-sitebody .ut-carousel-4-col .ut-portfolio-info-c span,
#ut-sitebody .ut-carousel-3-col .ut-portfolio-info-c span,
#ut-sitebody .ut-carousel-2-col .ut-portfolio-info-c span,
#ut-sitebody .ut-carousel-1-col .ut-portfolio-info-c span {
    display:none;
}
#ut-sitebody .ut-carousel-9-col .portfolio-title,
#ut-sitebody .ut-carousel-9-col .ut-portfolio-info-c h3,
#ut-sitebody .ut-carousel-8-col .portfolio-title,
#ut-sitebody .ut-carousel-8-col .ut-portfolio-info-c h3,
#ut-sitebody .ut-carousel-7-col .portfolio-title,
#ut-sitebody .ut-carousel-7-col .ut-portfolio-info-c h3,
#ut-sitebody .ut-carousel-6-col .portfolio-title,
#ut-sitebody .ut-carousel-6-col .ut-portfolio-info-c h3 {
    font-size:1em !important;
}
#ut-sitebody .portfolio-title,
#ut-sitebody .ut-portfolio-info-c h3 {   
 font-size:1em !important;
}
#ut-sitebody .ut-portfolio-info {
    padding:10px;   
}
.ut-portfolio-info-c span {
    font-size:11px !important;
}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
#ut-sitebody .ut-carousel-6-col .portfolio-title,
#ut-sitebody .ut-carousel-6-col .ut-portfolio-info-c h3 {
    font-size:13px !important;
}
#ut-sitebody .ut-carousel-7-col .portfolio-title,
#ut-sitebody .ut-carousel-7-col .ut-portfolio-info-c h3 {
   font-size:12px !important;
}
#ut-sitebody .ut-carousel-8-col .portfolio-title,
#ut-sitebody .ut-carousel-8-col .ut-portfolio-info-c h3 {
   font-size:11px !important;
}
#ut-sitebody .ut-carousel-9-col .portfolio-title,
#ut-sitebody .ut-carousel-9-col .ut-portfolio-info-c h3 {
   font-size:10px !important;
}
#ut-sitebody .ut-carousel-5-col .portfolio-title,
#ut-sitebody .ut-carousel-5-col .ut-portfolio-info-c h3,
#ut-sitebody .ut-carousel-4-col .portfolio-title,
#ut-sitebody .ut-carousel-4-col .ut-portfolio-info-c h3,
#ut-sitebody .ut-carousel-3-col .portfolio-title,
#ut-sitebody .ut-carousel-3-col .ut-portfolio-info-c h3,
#ut-sitebody .ut-carousel-2-col .portfolio-title,
#ut-sitebody .ut-carousel-2-col .ut-portfolio-info-c h3,
#ut-sitebody .ut-carousel-1-col .portfolio-title,
#ut-sitebody .ut-carousel-1-col .ut-portfolio-info-c h3 {
    font-size:1em !important;
}
#ut-sitebody .ut-portfolio-info {
    padding:10px !important;   
}
#ut-sitebody .portfolio-title,
#ut-sitebody .ut-portfolio-info-c h3 {   
 font-size:1em !important;
}
.ut-portfolio-info-c span {
    font-size:11px !important;
}
}

/* #Bklyn Content Widget Titles
================================================== */

#ut-sitebody .wpb_wrapper .ut-portfolio-info-details .widget-title {
    margin-bottom:10px;
    text-transform:inherit;
    font-size:12px;
}
#ut-sitebody .wpb_wrapper .ut-project-sc .widget-title {
    margin:0 !important;
    line-height:inherit !important;
    text-transform:inherit;
    font-size:12px;
}